.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;

  > * {
    padding-left: 30px;
  }

  // increased font size in main content graf

  p {
    font-size: 2rem;
    line-height: 2.1rem;
    width: 55%;
    min-width: 550px;
  }

  img {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  ul {
    list-style-position: inside;
    font-size: 2rem;
  }

  a:link {
    color: $primary-color;
  }

  a:visited {
    color: $primary-color;
  }
}

